{% extends 'base.html.twig' %}

{% block title 'Agence Lorem Ipsum'%}

{% block body %}
<style>

    .example-wrapper {  width: 100%; font: 18px/1.5 sans-serif; background: silver;}
    .example-wrapper code { background: darkgray; padding: 2px 6px; }
</style>

<div class="example-wrapper" >
    <h1 style="text-align: center">Agence Lorem Ipsum</h1>
    <p class="example-wrapper code" style="text-align: center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida ut ipsum ut hendrerit.</p>

</div>
    <div class="container">
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug })}}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary" style="font-weight: bold; font-size: 2em">{{ property.formattedPrice }} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
